*{
    margin: 0%;
    padding: 0%;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url(./back.jpg);
    background-position: center;
    background-size: cover;
}

.navbar{
    width: 12000px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff7200;
    font-size: 45px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    font-family: 'Shizuru';
    text-shadow: 2px 2px rgb(17, 0, 252);
}

.MENU{
    width: 400PX;
    float: left;
    height: 70PX;
}

ul{
    float: left;
    justify-content: center;
    display: flex;
    align-items: center;
}

ul li{
    font-size: 15px;
    margin-top: 27px;
    margin-left: 62px;
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;

}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1ps solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.button{
    width: 100px;
    height: 40px;
    background-color: #ff7200;
    border: 2px  solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 16px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.button:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}
.content{
    color: white;
    margin-left: 50px;
    margin-top: 60px;
    position: relative;
}
.form{
    width: 250px;
    height: 280px;
    position: absolute;
    top: -10px;
    left: 970px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    border-radius: 10px;
    padding: 25px;
}
.login-button{
    width: 100px;
    height: 40px;
    background-color: #ff7200;
    border: 2px  solid #ff7200;
    margin-top: 30px;
    color: #fff;
    font-size: 16px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 25px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input{
    width: 250px;
    height: 35px;
    background: transparent;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 30px;
    font-size: 15px;
    text-decoration: none;
}
.web-info{
    color: rgb(133, 133, 16);
    font-size: 40px;
    margin: 0%;
    margin-top: 100px;
    margin-left: 40px;
    text-shadow: 1px 2px rgb(255, 255, 255);
}
.login-button-style{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}